.business-container .gold {
  color: #B6943D;
  font-weight: 700;
}

.business-container img {
  width: 100%;
}

.business-container .flex-description {
  display: flex;
  justify-content: space-between;
}

.business-container .right-description {
  text-align: right;
}
