.gold {
  color: #B6943D;
  font-weight: 700;
}


.businessContainer {
  width: 18rem;
  height: 26rem;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.image {
  object-fit: cover;
  width: 18rem;
  height: 18rem;
}

.flexDescription {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  font-size: .9rem;
}

.rightDescription {
  text-align: right;
  width: 50%;
}
